body {
    --color-1: #9c27b0;
    --color-2: rgba(0,0,0,0);
    background-image: radial-gradient(circle at 2px 2px, var(--color-1) 1px, var(--color-2) 0);
    background-size: 15px 15px;
    background-color: #FBFBF1;
  }

.input {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.video {
    width: 80%;
    margin: 0 auto;
    padding-top: 2%;
}